#!/usr/bin/env python
# coding: utf-8

# Global configuration file for GithubChatworkBot.
# See detailed documentation inside gcbot.py script.

chatwork_token = ''

logging = True

chatwork_github_account_map = {
}

repository_room_map = {
}